In [16]:
import librosa
import numpy as np
import pandas as pd
from mgd import filters
from sklearn import preprocessing

In [2]:
# Carregando um áudio
sr = 22050
audio_seq = filters.load_audio('../gtzan/raw/classical/classical.00000.wav', sample_rate=sr)

In [3]:
print('Tamanho da waveform:', audio_seq.shape)
print('Valor máximo:', audio_seq.max())
print('Valor mínimo:', audio_seq.min())
print('Valor médio:', audio_seq.mean())

Tamanho da waveform: (661794,)
Valor máximo: 0.31762695
Valor mínimo: -0.34362793
Valor médio: -0.00016872482

In [4]:
# Extração de características
features = filters.extract_features(audio_seq)

print('Shapes do MFCCs:', features.mfcc.shape)
print('Shapes do SC:', features.sc.shape)
print('Shapes do SF:', features.sf.shape)
print('Shapes do SR:', features.sr.shape)
print('Shapes do Tonnetz:', features.tonnetz.shape)

Shapes do MFCCs: (13, 1293)
Shapes do SC: (1, 1293)
Shapes do SF: (1, 1293)
Shapes do SR: (1, 1293)
Shapes do Tonnetz: (6, 1293)

In [ ]:
# Sumarização das características
summarized_features = filters.summarize_features(features)

In [17]:
pd.DataFrame(summarized_features.mfcc._asdict())

,mean,std,skew,kurtosis,median,min,max
0,-268.218567,42.331261,-0.208642,1.007620,-268.221222,-423.086975,-135.811249
1,135.681656,13.744141,0.155405,-0.263492,134.992020,88.851433,172.776901
2,-34.056377,15.211519,-0.320151,0.035581,-33.024487,-82.308853,9.541955
3,25.616007,13.015924,-0.251811,-0.486318,26.058523,-14.230990,53.934593
4,-12.971723,8.440928,-0.297417,-0.127283,-12.167199,-40.591782,8.578705
5,17.903263,8.634934,-0.514133,0.260848,18.603127,-13.081398,40.411407
6,-9.990860,10.717710,0.010509,0.153140,-9.837725,-43.272514,21.938383
7,5.634088,8.114293,-0.096498,-0.200627,5.723366,-19.034227,28.166395
8,-14.143673,8.684955,0.194862,-0.195076,-14.322696,-37.153862,12.752627
9,7.493185,13.312304,-0.277322,-0.355186,8.556161,-36.250755,40.166466
10,-3.976439,10.330037,0.021188,-0.384218,-3.626116,-37.390484,25.130123
11,8.258308,8.950723,0.149450,-0.070168,7.935146,-18.950029,35.544319
12,-1.333601,12.439547,0.258570,0.308843,-1.727386,-34.922173,40.494732

In [18]:
pd.DataFrame(summarized_features.sc._asdict())

,mean,std,skew,kurtosis,median,min,max
0,1505.357461,210.785988,0.404486,0.498714,1496.485755,973.63304,2474.96188

In [19]:
pd.DataFrame(summarized_features.sr._asdict())

,mean,std,skew,kurtosis,median,min,max
0,2717.238764,546.821726,0.354886,0.354263,2680.883789,1496.557617,5232.568359

In [20]:
pd.DataFrame(summarized_features.sf._asdict())

      mean       std      skew   kurtosis    median       min       max
0  0.00091  0.000917  3.430025  20.233253  0.000648  0.000032  0.010693

In [21]:
pd.DataFrame(summarized_features.tonnetz._asdict())

       mean       std      skew  kurtosis    median       min       max
0  0.188023  0.119665 -0.541905  0.448788  0.197305 -0.284521  0.473589
1 -0.138243  0.118730 -0.202422 -0.183724 -0.129237 -0.476335  0.192079
2 -0.037151  0.162626  0.395016 -0.144525 -0.060676 -0.500036  0.427448
3 -0.102168  0.166122 -0.147359 -0.496202 -0.101332 -0.589850  0.290934
4 -0.021326  0.068662 -0.520464  0.159849 -0.016678 -0.266099  0.132067
5 -0.004369  0.061426  0.240630 -0.450991 -0.008912 -0.135716  0.186586

In [28]:
getattr(summarized_features.tonnetz, 'std')

array([0.11966535, 0.11872974, 0.16262564, 0.1661216 , 0.06866243,
       0.06142574])